<a href="https://colab.research.google.com/github/noorulhudaaaa/Python-AI-Chatbot-Bootcamp-WPBrigade-iCodeGuru/blob/main/Day%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
Pandas is a tool (or library) in Python that helps you work with data easily.
It's fast, powerful, and makes working with data way easier — especially for data science, machine learning, and reports.

Imagine you have a big table of data — like an Excel sheet with rows and columns. Pandas helps you:

- Read data (from files like CSV or Excel)

- Organize it

- Clean it (remove or fix bad data)

- Analyze it (find patterns or answers)

- Visualize it (make simple charts)

## Accessing file

In [39]:
# Importing pandas library
import pandas as pd

In [50]:
# Reading our csv file and printing it out
df = pd.read_csv('tested.csv')

# printing it to get all the rows and columns
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [51]:
# Printing the first 5 rows using head
# head shows first 5 rows by default, however can show as many rows as you want by providing that value to head
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Exploring data

In [52]:
# Shape tells about the column and rows of data
df.shape

# So it has 418 rows and 12 columns

(418, 12)

In [53]:
# info() Tells the datatypes and non-null values in each column, total cols & rows and index from start to end
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [54]:
# Shows the stats of each column values like count, max, min etc
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

## Handling Missing Values

In [55]:
# Checking missing values in each column, shows 86 missing values for age
# Taking out the missing values using isnull() and then adding them to see total missing values using sum()
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [56]:
# Filling the missing values using mean()
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Cabin'].fillna(df['Age'].mean(), inplace=True)

# Checking the null values again
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          418 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        418 non-null    object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

/tmp/ipython-input-2785882176.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-2785882176.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(df['Age'].mean(), inplace=True)

In [28]:
# If there are alot of missing values, you can also drop them out
# dropna() deletes the missing values
df.dropna()

## Dropping Columns

In [57]:
# We can drop vcolumn that are not needed as it might make it complicated to keep them all
df.drop(columns = ['SibSp', 'Parch', 'Cabin', 'Embarked', 'Ticket', 'PassengerId' ], inplace = True)

In [58]:
df.info()
# Columns have been removed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Name      418 non-null    object
 3   Sex       418 non-null    object
 4   Age       418 non-null    float64
 5   Fare      417 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 19.7+ KB

In [59]:
df.head()

,Survived,Pclass,Name,Sex,Age,Fare
0,0,3,"Kelly, Mr. James",male,34.5,7.8292
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,7.0000
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,9.6875
3,0,3,"Wirz, Mr. Albert",male,27.0,8.6625
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,12.2875

In [61]:
# iloc means "index location". It is used to pick rows and columns by their position (number) — not by name.
x = df.iloc[:, 1:]
x

,Pclass,Name,Sex,Age,Fare
0,3,"Kelly, Mr. James",male,34.50000,7.8292
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,7.0000
2,2,"Myles, Mr. Thomas Francis",male,62.00000,9.6875
3,3,"Wirz, Mr. Albert",male,27.00000,8.6625
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,12.2875
...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,30.27259,8.0500
414,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,108.9000
415,3,"Saether, Mr. Simon Sivertsen",male,38.50000,7.2500
416,3,"Ware, Mr. Frederick",male,30.27259,8.0500
417,3,"Peter, Master. Michael J",male,30.27259,22.3583

In [62]:
# Showimg survived column as y
y = df['Survived']
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64